@import './keep-css/keep-main.css';
@import './keep-css/keep-list.css';
@import '../css/cmps/appsus-footer.css';
@import '../css/mail.css/email-app.css';
@import '../css/mail.css/email-details.css';
@import '../css/mail.css/email-list.css';
@import '../css/mail.css/email-preview.css';
@import '../css/mail.css/email-filter.css';
@import '../css/mail.css/new-email.css';

*{
    box-sizing: border-box;
}
.appsus-header{
    display: flex;
    justify-content: space-between;
}
.app-main img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
