@import './keep-css/keep-main.css';

*{
    box-sizing: border-box;
}
.appsus-header{
    display: flex;
    justify-content: space-between;
}
.app-main img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.maile-app{
    display: flex;
    flex-direction: column;
}
.action-nav{
    display: flex;
    flex-direction: column;
    width: 60px;
}
.options-container{
    display: flex;
    justify-content: space-between;
}
.email-container{
    display: flex;
    flex-direction: column;
}
