*{
    box-sizing: border-box;
}
.emcon{
    display: flex;
    flex-direction: column;
}
.openDetails{
    width: 100%;
    display: flex;
    
}
.mail-from {
   width: 100px;
}
.mail-subject{
    margin-right: 10px;
}

.email-container{
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date{
    font-family: cursive;;
}
.prev-btn{
    display: flex;
    align-items: center;
    height: 34px;
}
.prev-btn img{
    height: 30px;
    width: 30px;
}
.prev-btn span{
    display: flex;
    align-items: center;
    margin: 0 4px;
    height: 34px;
    width: 34px;
    padding: 5px;
}
.prev-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    min-width: 34px;
    min-width: 34px;
    background-color: transparent;
    padding:0 0 0 0 ;
}
.prev-btn button:hover{
background-color:rgb(226, 234, 243);
border-radius: 50%;
}
