*{
    box-sizing: border-box;
}
.mail-detail{
    position: absolute;
    background-color: darkorange;
    width: 70%;
}
.detail-headet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-headet button{
    cursor: pointer;
   width: 0%;
   background-color: transparent;
   font-size: 20px;
}
