*{
    box-sizing: border-box;
}
.new-email{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.67);
    margin-bottom: 5px;
    margin-left: 10px;
}
.new-email h2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(77, 74, 74);
    color: blanchedalmond;
    padding-left: 20px;
    margin: 0 0 0 0 ;
    font-size: 20px;
}
.new-email input{
    outline: none;
    border: none;
    width: 90%;
}
.new-input{
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-left: 10px;
    display: flex;
}
.subject-input{
    padding:0 10px;
}
.subject-input textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    
}
.new-mail-btn{
    display: flex;
    justify-content: space-around;
}
.new-mail-btn button{
    cursor: pointer;
    width: 20px;
    border-radius: 0;
    text-align: center;
    border-bottom-left-radius: 15;
    background-color: transparent;
}
.new-mail-btn .delete{
    height: 30px;
    width: 30px;
}
.delete img{
   height: 30px;
}
.new-mail-btn button:hover{
    background-color: transparent;
}
.new-mail-btn .send:hover{
    color: seagreen;
}
.new-mail-btn .delete:hover{
    color: rgb(231, 10, 10);
}