@font-face {
    font-family: logo;
    src: url(/founts/logo/eurof55.ttf);
}


.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-container {
    border: 1px solid black;
    border-radius: 7px;
    margin: 15px;
    min-height: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-color: lightgoldenrodyellow;
}
.main-il{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.il {
    padding: 10px;
}

.main-nav-keep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 586px;
    padding-top: 10px;
}


.logo {
    font-size: 3em;
    font-family: logo, monospace;
    margin-left: 10px;
    color: lightgoldenrodyellow;
}
.main-rontainer{
    background-color: dimgray;
}
.add{
    border-radius: 7px;
    border:none;
    height: 30px;

}
.main-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
}
.btn{
    border-radius: 3px;
    border:none; 
}
/* .delete{
   margin-bottom: 2px;
   border-radius: 3px;
   border:none;
}
.edit{
    border-radius: 3px;
    border:none;
} */
.pin{
   
    display: contents;
opacity: 0.5;
}
.is-pin{
    opacity: 1.5;
    background-color: indianred;
}
.btn:hover{
    cursor: pointer;
    background: gold;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.open{
    position: absolute;
    left: 393px;
    background-color: rgb(0, 255, 76);
    height: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px
}
img{
    width: 200px;
    height: 100px;
}
.title{
    margin: 0;
   /* left: 15px; */
}
.user-msg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: lime;
    margin-top: 50px;
}
.marg{
    margin-left: 114px;
}
p{
    margin: 0;
}
.pin:hover{
    color: gold;
    cursor: pointer;
}
