.list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.preview-container{
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.il{
   padding: 10px; 
}